<h1 class="add__title">Добавить фотографии</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<div class="add__container">

    <form action="/add" enctype="multipart/form-data" method="POST" class="add__form">
        <div class="add__field">
            <input id="photo" name="photo" type="file" class="add__input" accept="image" multiple required>
            <label for="photo" class="add__label">
                <figure class="add__icon">
                    <i class="fal fa-upload"></i>
                </figure>
                <span class="add__text">Выберите фотографии</span>
            </label>
        </div>
        {{!-- <div class="add__field">
            <input id="text" name="text" type="text" class="input" required>
            <label for="text" class="add__label"> </label>
        </div> --}}

        {{!-- <input type="hidden" name="_csrf" value="{{csrf}}"> --}}
        <div class="add__btns">
            <button class="add__btn" type="submit">Добавить фотографии</button>
            <button id="preview" class="add__btn hidden">Просмотреть</button>
        </div>
    </form>

    <div class="add__preview hidden"></div>

</div>